body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
}
section{
    background-color: #1F2937;
    color: white;
    margin-bottom: 8px;
    padding-bottom: 48px;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.logo{
    font-size: 24px;

}
ul{
    display: flex;
    gap: 20px;
    list-style:none;
    font-size: 18px;

    
}
a{
   text-decoration: none; 
    
}
.hero{
    width: 800px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.hero-text{
    display:flex;
    flex-direction: column;
    margin-right: 8px;
    
    
}
h1{
    margin: 0;
    font-weight: 48px 800;
    font-style:bold;
}


.image-placeholder{
  width: 300px; /* largeur de l'image */
  height: 200px; /* hauteur de l'image */
  background-color: #ccc; /* couleur de fond pour les navigateurs qui ne prennent pas en charge l'image */
  
  background-size: cover; /* redimensionne l'image pour couvrir toute la zone de la div */

}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.info{
  max-width:200px;
  display: flex;
  flex-direction: column;
  align-items:center;
  flex-wrap:wrap;
  justify-content:center;
  padding: 52px;

}

img {
  width: 100px;
  height: 100px;
  border: 5px solid;
  border-radius: 5px;
  border-color:#3882f6 ;

  
 
}

.title {
  font-size: 36px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.citation {
  font-style: italic;
  border-left: 3px solid #ccc;
  padding-left: 10px;
  margin: 0;
}
.citation p {
  margin-bottom: 10px;
  text-align: center;
}
.citation cite {
  display: block;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  margin-top: 5px;
}
.blue-box{
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
}
.text-box{
    padding:16px 24px;
}
.text-box p {
    margin:0;
    
}
footer{
  background-color: #1F2937;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


