body{
    display: flex;
    flex-direction: column;
}
.header{
background-color: #1f2937;
color: white;
display: flex;
justify-content: space-around;
align-items: center;
}
ul{
    
    display: flex;
    gap: 26px;
    font-size: 24px;
    list-style-type: none;
    
    
    
}
a{
  color: white;
  text-decoration: none;
}
.logo{
  font-size: 24px;
}

.hero{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.intro-text{
padding: 4px;
}

h1{
   font-size: 48px; 
   
}

  .i-frame{
    width: 437px;
    height: 207px;
  } 
    

.container{
  display: flex;
  justify-content: center;
}
h2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}
.info{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 52px;
  width: 200px;
}
    img{
       width: 100px;
       height: 100px;
       border: 1px solid #3882f6;
      border-radius: 5px;
    }

button{
    background-color:#3882f6;
    color: white;
    padding: 4px 12px;
   border-radius: 5px;
}