body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    background-color: darkred;
}
section{
  background-image: url("Dragonstone.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 48px;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.logo img{
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 5px;
}
ul{
    display: flex;
    gap: 20px;
    list-style:none;
    font-size: 18px;

    
}
a{
   text-decoration: none; 
   color: red;
    
}
.hero{
    width: 800px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.hero-text{
    display:flex;
    flex-direction: column;
    margin-right: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    
    
}
h1{
    margin: 0;
    font-weight: 48px 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.image-placeholder{
  width: 300px; /* largeur de l'image */
  height: 200px; /* hauteur de l'image */
  background-color: #ccc; /* couleur de fond pour les navigateurs qui ne prennent pas en charge l'image */
  border-radius: 5px;
  background-size: cover; /* redimensionne l'image pour couvrir toute la zone de la div */

}
.image-placeholder img{
  border: none;
  border-radius: 5px;
  width: 300px; 
  height: 200px;
}
main{
  background-color: black;
  color: #ccc;
  

}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #ccc;
 
}
.title{
  font-family: "UnifrakturCook", serif;
  font-style: italic;
  color: red;
  text-decoration: underline;
  text-decoration-style:solid;
  text-decoration-color: red;
  padding-top: 16px;
}

.info{
  max-width:200px;
  display: flex;
  flex-direction: column;
  align-items:center;
  flex-wrap:wrap;
  justify-content:center;
  padding: 52px;

}

img {
  width: 100px;
  height: 100px;
  border: 5px solid;
  border-radius: 5px;
  border-color:red;

  
 
}

.title {
  font-size: 36px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.citation {
  
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  font-style: italic;
  padding-left: 10px;
  margin: 0;
}
.citation p {
  margin-bottom: 10px;
  text-align: center;
  font-size: 36px;
}
.citation cite {
  display: block;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  margin-top: 5px;
  padding-bottom: 36px;
}
.bigbox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.blue-box{
    width: 600px;
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: red;
    border-radius: 5px;
    padding: 16px 24px;
}
.text-box{
    padding:16px 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text-box p {
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
button{
  background-color: gold;
  color: black;
}
footer{
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


